<div>
    


    <h2>{{ volunteer.fname }} {{ volunteer.lname }}</h2><br/>
    {% for number in volunteer.phone_numbers %}
        {% if number.primary_contact %}
        <h4>Phone 1</h4><br/>
        {{ number }}<br/><br/>
        
        {% else %}
        <h4>Phone 2</h4><br/>
        {{ number }}
        {% endif %}
    {% endfor %}<br/><br/>

    <ul>
        <h4>Areas</h4><br/>
        {% for area in volunteer.areas %}
        <li>{{ area }}</li>
        {% endfor %}
    </ul><br/><br/>
    
    <ul>
        <h4>Willing to Foster</h4><br/>
        {% for species in volunteer.species %}
        <li>{{ species }}</li>
        {% endfor %}
    </ul><br/><br/>

    <h4>Last Contacted</h4><br/>
    {{ volunteer.last_contacted }}<br/><br/>

    <h4>Notes</h4><br/>
    {{ volunteer.notes }}<br/><br/>

    
    <a href="{{ url_for('edit_volunteer', id=volunteer.id) }}"><button>Edit</button></a>

</div>