{% extends "base_generic.html" %}

{% block content %}

<h1>Welcome {{ current_user.name }}</h1>
<h2><a href="{{ url_for('add_volunteer') }}">Add Volunteer</a></h2>

<h2>Search</h2>
<form action="" method="POST" novalidate>
    {{ search_form.hidden_tag() }}
    <p>First Name</p>
    <p>{{ search_form.fname(size=80) }}</p>
    <p> Last Name</p>
    <p>{{ search_form.lname(size=80) }} </p>
    <p>Phone Number</p>
    <p>{{ search_form.dial_code }}{{ search_form.phone_number }}</p>
    <p> {{ search_form.submit() }}</p>
</form><br/><br/>

<h2>Sort By</h2>
<form action="" method="POST" novalidate>
    {{ param_form.hidden_tag() }}
    <span>
        {{ param_form.areas.label }}<br/>
        {{ param_form.areas }}<br/>
        {% for error in param_form.areas.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {{ param_form.species.label }}<br/>
        {{ param_form.species }}<br/>
        {% for error in param_form.species.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </span>
    <p>
        {{ param_form.submit() }}
    </p>
</form>

{% if prev_url %}
    <a href="{{ prev_url }}">Previous</a>
{% endif %}

{% for volunteer in volunteers %}
    {% include '_volunteer.html' %}
{% endfor %}

{% if next_url %}
    <a href="{{ next_url }}">Next</a>
{% endif %}

{% endblock %}
